/*
Deltagare:
Daniel Frisk - 000824
Johan Hertz - 970422 
Hannah Uhlán - 950901
*/


#info, #infoRemove{
    position: fixed;
}

#Ovrigt, #OvrigtRemove{
    height: 200px;
    width: 300px;
    resize: none;
}